.header {
    background-color: #4CAF50; /* Verde */
    color: white;
    display: flex;
    flex-direction: column; /* Alinha itens na vertical */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;
    padding: 40px 0; /* Espaçamento em cima e embaixo */
}

.header-title {
    font-size: 3em; /* Tamanho da fonte maior */
    margin: 0; /* Remove margem */
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; /* Espaço entre o título e os links */
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em; /* Aumenta o tamanho da fonte dos links */
}
